* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background: #171717;
    padding-bottom: 200px;  
}

a {
    text-decoration: none;
}

.bg-footer {
    background: #0E0E0E;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px 130px;
    padding-top: 50px;
}

.back-call {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
}

.back-call:before {
    content: url(img/phone.png);
    padding-right: 10px;
}

.style-h1 {
    font-size: 50px;
    line-height: 28px;
    color: white;
}

p {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.main {
    margin: 0 230px 160px;
}

.main-grid {
    display: grid;
    gap: 30px;
}

.main-grid-item {
    display: grid;
    font-size: 20px;
    line-height: 28px;
    height: 468px;
    color: #FFFFFF;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    text-align: center;
}

.grid-item-align {
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-grid-item-content1 {
    background: #634F2C;
}

.main-grid-item-content2 {
    background: #B4A385;
    padding: 65px;
}

.main-grid-item-content3 {
    background: #E4B564;
}

.main-grid-item-content4 {
    background: #635A4A;
}

.main-grid-item-content5 {
    background: #B08C4D;
}

.section {
    margin: 0 230px 0;
    padding-bottom: 200px;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    color: white;
}

.section-grid-item {
    display: grid;
    row-gap: 25px;  
}

.section-grid-item-content1 {
    background: #0E0E0E;
    height: 313px;
}

.section-grid-item-content2 {
    background: #1F1F1F;
    height: 560px;
}

.section-grid-item-content3 {
    background: #0E0E0E;
    height: 439px;
}

.section-grid-item-content4 {
    background: #E4B564;
    height: 405px;
    color: black;
}

.section-grid-item-content5 {
    background: #1F1F1F;
    height: 255px;
}

.section-grid-item-content6 {
    background: #0E0E0E;
    height: 313px;
}

.section-grid-item-content7 {
    background: #0A0909;
    height: 277px;
}

.section-padding-content {
    padding: 40px 50px;
}

.footer {
    padding-top: 170px;
    margin: 0 230px;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); 
    height: 782px;
    grid-template-rows: repeat(2, minmax(250px, 1fr));
}

.footer-item-content1 {
    background-color: #634F2C;
}

.footer-item-content2 {
    background: rgba(232, 210, 171, 0.76);
    position: relative;
}

.footer-item-content2 p{
    width: 300px;
    font-size: 22px;
    line-height: 28px;
    color: white;
    text-align: center;
}

.footer-item-content3 {
    background: #E4B564;
}

.footer-item-content4 {
    background: #635A4A;
}
.footer-item-content5 {
    background: #B08C4D;
}
.footer-item-content6 {
    background: #634F2C;
}

.footer-hover {
    display: none;
}

.footer-content a:hover .footer-hover {
   display: block;
}